$nav-color: #049DD9;
$btn-bgc: #6CD5FE;
$btn-border: #049DD9;
$btn-color: white;
$burger-color: #049DD9;
$burger-bgc: #f0f0f0;
$review-border-color: #E2E2E2;
$unchecked-star-color: #7f7f7f;
$checked-star-color: #6CD5FE;
$review-mod-color: #ADADAD;
$review-higlight-color: #049DD9;
$footer-border: #E2E2E2;
$social-bg: #DFF6FF;
$path-bgc: #049DD9;
$input-color: #717171;