.footer {
  margin-top: 160px;
  width: 100%;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -60px;
    width: 100%;
    height: 2px;
    background-color: $footer-border;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr .4fr 1.1fr;
    justify-content: center;
    margin-bottom: 50px;
    gap: 2%;
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    gap: 20px;
  }

  &__title {
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 24px
  }

  &__item {
    font-size: 20px;
    line-height: 140%;
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__link {
    color: black;
    text-decoration: none;
    transition: .2s;
    position: relative;

    &:hover {
      color: $nav-color;
    }

    &:hover::after {
      width: 100%;
    }

    &::after {
      content: "";
      height: 2px;
      width: 0;
      position: absolute;
      bottom: -5px;
      left: 0;
      background-color: $nav-color;
      transition: .4s;
    }

    &:focus {
      color: $nav-color;
      outline: none;
    }

    &:focus::after {
      width: 100%;
    }
  }

  &__socials {
    background-color: $social-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 26px;
    border-radius: 16px;
    max-width: 456px;
    box-sizing: border-box;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 102px;
    width: 100%;
    height: 2px;
    background-color: $footer-border;
  }
}

@keyframes bob {
  0% {
    transform: translateY(-7px) scale(1.2);
  }

  50% {
    transform: translateY(-1px) scale(1.2);
  }

  100% {
    transform: translateY(-7px) scale(1.2);
  }
}

.socials {

  &__images {
    display: flex;
    gap: 25px;
    margin-left: 20px;
    align-items: center;
  }

  &__image {
    transition: .2s;

    &:hover {
      // transform: translateY(-7px) scale(1.1);
      animation: bob 1.5s infinite;
      opacity: .8;
      cursor: pointer;
    }
  }
}

.subfooter {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  text-align: center;

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
}

@media (max-width: 1150px) {
  .footer__grid {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    gap: 100px;
  }
}

@media (max-width: 718px) {
  .footer__grid {
    grid-template-columns: 1fr;
    justify-items: start;
    gap: 100px;
  }
}