.card {
  border: 2px solid #E2E2E2;
  padding: 45px;
  border-radius: 16px;
  width: 100%;

  &__row {
    display: flex;
    gap: 70px;
  }

  &__img {
    object-fit: cover;
  }

  &__column {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__info {}

  &__title {
    font-size: 40px;
    line-height: 140%;
    margin-bottom: 16px;
  }

  &__description {
    font-size: 24px;
    line-height: 140%;
    &:nth-of-type(2) {
      margin-top: 16px;
    }
  }

  &__features {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    background-color: #DFF6FF;
    padding: 32px;
    border-radius: 8px;
  }
}

.features {
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1309px) {
  .features {
    &__row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
  }

  .border-left {
    border-left: none;
  }
  
  .feature__column {
    flex-direction: column;
  }
}

@media screen and (max-width: 915px) {
  .card__row {
    flex-direction: column;
  }

  .feature {
    display: flex;
    gap: 20px;
    align-items: center;
  
    &__number {
      background-color: #049DD9;
      color: white;
      padding: 10px;
      border-radius: 10px;
    }
  
    &__name {}
  
    &__column {
      display: flex;
      flex-direction: row;
      gap: 25px;
    }
  }
  
  .features__row {
    flex-direction: row;
  }
}

@media screen and (max-width: 818px) {
  .feature__column {
    flex-direction: column;
  }
  .features__row {
    flex-direction: column;
  }
}

.feature {
  display: flex;
  gap: 20px;
  align-items: center;

  &__number {
    background-color: #049DD9;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

  &__name {}

  &__column {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-right: 1%;
  }
}
