@import './partials/variables.scss';
@import './partials/header.scss';
@import './partials/footer.scss';
@import './components/main-header.scss';
@import './components/rectangle-btn.scss';
@import './components/enroll-form.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.container {
  margin: 0 auto;
  width: min(90%, 1412px);
}

.main {
  width: 100%;
}